.w1 {
  /* 版心 */
  width: 1225px;
  margin: 0 auto;
}

.w2 {
  width: 1050px;
  margin: 0 auto;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.hover1 a:hover {
  color: #faf6f6;
  background-color: #3377aa;
}

.hover2 a:hover {
  background-color: #e8e8e8;
}

.shortcut1 {
  height: 28px;
  line-height: 28px;
  background-color: #545652;
  min-width: 950px;
}

.shortcut1 .fl ul li {
  font-size: 13px;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

.shortcut1 .fr ul li {
  font-size: 13px;
  float: right;
  margin-left: 10px;
  margin-right: 10px;
}

.shortcut1 a {
  color: #d5d5d5;
}

.shortcut1 a:hover {
  color: #faf6f6
}

.header {
  height: 75px;
  line-height: 75px;
  background-color: #f6f6f1;
  border-bottom: 1px solid #e5ebe4;
}

.logo {
  width: 145px;
  height: 50px;
  margin-top: 25px;
}

.logo a {
  display: block;
  height: 50px;
  background: url("../images/01.logo_book.png") no-repeat;
  background-size: 115px;
  font-size: 0;
}

.search {
  position: relative;
  top: 25px;
  left: 15px;
  width: 450px;
  height: 25px;
}

.search input {
  position: absolute;
  width: 400px;
  height: 25px;
  padding-left: 15px;
}

.search button {
  position: absolute;
  left: 400px;
  width: 50px;
  height: 25px;
  background-color: rgb(253, 253, 253);
}

.bookannual a {
  display: block;
  margin-left: 900px;
  background: url("../images/03.annual_2020.png") no-repeat;
  background-size: 160px;
  font-size: 0;
}

.shortcut2 {
  margin-left: 0;
  height: 50px;
  line-height: 50px;
  background-color: #f6f6f1;
  min-width: 950px;
}

.shortcut2 .fl li {
  float: left;
  margin-right: 20px;
  font-size: 14px;
}

.shortcut2 a {
  color: #8c563c;
}

.shortcut2 a:hover {
  color: #f6f6f1;
  background-color: #614e3c;
}

.column1 .hd {
  height: 31px;
  border-bottom: 1px solid #ddd;
}

.bookbox1 .hd .title {
  font-size: 18px;
  font-weight: bold;
  margin-right: 15px;
}


.bookbox1 .hd .more a {
  font-size: 13px;
  font-weight: normal;
}

.bookbox1 .hd .num a {
  font-size: 5px;
}

.column1 .bd .books .more-meta {
  font-size: 0;
}

.column1 .bd {
  margin-top: 15px;
}

.column1 .bd .books {
  font-size: 13px;
}

.column1 .bd .books .title a {
  font-size: 14px;
}

.column1 .bd .books .title a:hover {
  color: #faf6f6;
  background-color: #3377aa;
}

.column1 .bd .books .cover .img {
  width:115px;
  height:170px
}

.column1 .bd .books ul li {
  float: left;
  margin-right: 25px;
  margin-bottom: 20px;
}

.column1 .bd .books ul .right-none {
  margin-right: 0;
}

.culumn2 .hd {
  margin-left: 30px;
  padding-left: 30px;
  height: 28px;
}

.culumn2 .hd .hdd {
  border-bottom: 1px solid #ddd;
}

.list1 .hd .title {
  margin-left: 40px;
  font-size: 17px;
  font-weight: bold;
  margin-right: 15px;
}


.list1 .hd .more a {
  font-size: 13px;
  font-weight: normal;
}

.list1 .hd .num a {
  font-size: 5px;
}

.hot-tags {
  font-size: 13px;
  padding-bottom: 20px;
}

.hot-tags {
  display: block;
  list-style-type: disc;
  padding-inline-start: 40px;
}

.hot-tags li {
  display: list-item;
  text-align: -webkit-match-parent;
  margin-bottom: 15px;
}

.clearfix {
  display: block;
  zoom: 1;
  margin-bottom: 20px;
}

.clearfix:before, .clearfix:after {
  display: table;
  content: '';
  line-height: 0;
}

.hot-tags .tag_title {
  display: block;
  float: none;
}

.hot-tags ul {
  border-bottom: 1px dashed #ddd;
}

.hot-tags ul li {
  width: auto;
  margin: 0;
  padding: 0;
  border: none;
  float: left;
  display: inline;
}

.column2 .clearfix .more_tag {
  color: #999999;
}

.hot-tags ul li a:hover {
  background-color: #e8e8e8;
}

.tag, .tag:link, .tag:visited {
  width: auto;
  word-break: keep-all;
  white-space: nowrap;
  background-color: #f5f5f5;
  color: #37A;
  font-size: 13px;
  padding: 2px 11px 0;
  display: inline-block;
  margin: 0 3px 5px 0;
  line-height: 20px;
}

.column2 .list2 .hd {
  border-bottom: 1px solid #ddd;
  padding-bottom: 30px;
}

.column2 .list2 {
  margin-left: 40px;
}

.column2 .list2 .bd .books-top .book-title {
  float: left;
  font-size: 14px;
  margin-top: 5px;
}

.column2 .list2 .bd .books-top .book-title a:hover {
  color: #faf6f6;
  background-color: #3377aa;
}

.column2 .list2 .bd .books-top .book-title .author {
  font-size: 13px;
  margin-left: 1.2em;
}

.column2 .list2 .bd .books-top .buy {
  font-size: 13px;
  margin-top: 17px;
  color: #999999;
}

.column2 .list2 .bd .books-top li {
  height: 50px;
  border-bottom: 1px dashed #ddd;
}

.column2 .list2 .bd .books-top li:hover {
  background-color: #f9f9f6;
}

/*
.carousel {
  position: relative;
  height: 351px;
  width: 675px;
}

.bookbox1 .carousel {
  height: 489px;
}

.books-express .list-express .cover {
  width: 115px;
  height: 172px;
  margin-bottom: 7px;
  overflow: hidden;
}

.books-express .list-express .cover a {
  display: flex;
  height: 100%;
  justify-content: center;
}

a img {
  border-width: 0;
  vertical-align: middle;
}

fieldset, img {
  border: 0;
}

.books-express .list-express .info {
  padding: 0 2px;
}

.section .list-col5 .info {
  margin: 0;
  line-height: 1;
}

.books-express .list-express .title {
  font-size: 14px;
  margin-bottom: 6px;
}

.section .list-col5 .title {
  font-size: 13px;
  margin-bottom: 5px;
  line-height: 1.1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  _width: 106px;
}

.books-express .list-express .author {
  color: #333;
  width: 102px;
  font-size: 13px;
  margin-bottom: 6px;
}

.carousel .title, .carousel .author, .carousel .publisher {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.more-meta {
  display: none;
}

h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}


.books-express .list-express .cover img {
  display: block;
  max-width: 115px;
  max-height: 172px;
  align-self: flex-end;

}

*/
/* 创建并排的2个非等列 */
.column1 {
  float: left;
  width: 65%;
  padding-top: 15px;
}

.column2 {
  float: left;
  width: 30%;
  padding-top: 15px;
  margin-left: 35px;
  padding-right: 10px;
  margin-top: 30px;
}

/* 清除列之后的浮动 */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* 响应式布局 - 创建堆叠而非并排的三列 */
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }