* {
    /* 把所有标签的内外边距清零 */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

em,
i {
    /* 把斜体的文字不斜体 */
    font-style: normal
}

li {
    list-style: none
}

img {
    border: 0;
    /* 取消图片底部的空白缝隙 */
    vertical-align: middle
}

button {
    /* 当鼠标通过button按钮时，变成小手 */
    cursor: pointer
}

a {
    color: #3377aa;
    text-decoration: none
}

button,
input {
    font-family: Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
    outline: none;
}

.hide,
.none {
    display: none
}


/* 清除浮动 */

.clearfix:after {
    visibility: hidden;
    clear: both;
    display: block;
    content: ".";
    height: 0
}

.clearfix {
    *zoom: 1
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}